

services:
  postgres:
    container_name: threads-db
    image: postgres:16
    ports:
      - 5432:5432 # Good practice to quote port mappings
    volumes:
      - postgres_data:/var/lib/postgresql/data
    environment:
      POSTGRES_USER: postgres
      POSTGRES_DB: threads
      POSTGRES_PASSWORD: threads

volumes:
  postgres_data: